  <%- include("partials/header.ejs") %>
  <div class="content-wrap">
    <br>
    <h1>Profiles</h1>

    <div class="profiles-grid">
        <% profiles.forEach(function(profile) { %>
            <div class="profile-box">
              <div>
                <h2><%= profile.name %></h2>
                <p><strong>Species:</strong> <%= profile.species %></p>
                <p><strong>Age:</strong> <%= profile.age %></p>
                <p><strong>Gender:</strong> <%= profile.gender %></p>
                <p><strong>Bio:</strong> <%= profile.bio %></p>
              </div>
              
                <% if (profile.image_url) { %>
                    <img src="<%= profile.image_url %>" alt="<%= profile.name %>" class="profile-image">
                <% } %>
              
            </div>
        <% }); %>
    </div>

  </div>
  <%- include("partials/footer.ejs") %>
  </body>
  </html>
